<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/2d489c66-9378-43ee-b682-abb18254bcda/resourceGroups/scaling-aks-demo-rg/providers/Microsoft.ContainerRegistry/registries/acrdemopn</ResourceId>
    <ResourceName>acrdemopn</ResourceName>
    <ResourceGroup>scaling-aks-demo-rg</ResourceGroup>
    <Subscription>ME-MngEnv971217-sdellalibera-1</Subscription>
    <RegistryUrl>acrdemopn.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>0c63a9b5-9226-8ee4-d043-2f11099fb85e</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>